body, html {
  /* background-color: #f3f3f3; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
.container__lg {
  max-width: 400px
}

.middle-align {
  display: flex;
  align-items: center
}

.middle-align img {
  margin-right: 5px
}

.card__results {
  margin: 10px;
}

.grid {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.grid__item {
  width: 25%;
}

.form__text {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

hr {
  opacity: 0
}

@media screen and (max-width: 768px) {
  .grid__item {
    width: calc(100% / 3);
  }
}
@media screen and (max-width: 500px) {
  .grid__item {
    width: 100%;
  }
} */
